<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Listing Details:</h3>
                <div class="card">
                    <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= listing.title %>
                        </h5>
                        <p class="card-text">
                        <ul>
                            <li>About : <%= listing.description %>
                            </li>
                            <li> Price : &#8377;<%= listing.price %>
                            </li>
                            <li>Country : <%= listing.country %>
                            </li>
                            <li>Location : <%= listing.location %>
                            </li>

                        </ul>
                        </p>
                        <br>
                        <div class="btns">
                            <a href="/listings/<%= listing._id  %>/edit" class="btn btn-primary edit-btn ">Edit</a>
                        
                        <form action="/listings/<%= listing._id  %> ?_method=DELETE" method="post">
                            <button class="btn btn-danger ">Delete</button>
                        </form>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

    </body>